html{
	font-size:62.5%;
}

body{
   	height: 100%;
   	width:100%;
   	margin:0;
   	padding:0;
}
a{
	text-decoration: none;
}
h1,h2{
	color: #69c3b5;
	
}
h1{
	font-size: 5rem;
}
body{
   	background:#e8e8e8; 
   	color:#fff;
   	font-family:'微软雅黑';
}

img{
	max-width: 100%;
}

.title{
	text-align: center;
}
.content-wrap{
	width: 75%;
	min-height: 1000px;
	margin: 70px auto;
	background-color: #fff;
	box-shadow: 0 4px 10px #333;
	position: relative;
}
.content-wrap::before{
	content: "";
	position: absolute;
	display: block;
	width: 200px;
	height: 200px;
	background: url(../images/crab.gif) no-repeat;
	top:-100px;
	left:50%;
	margin-left: -100px;
	z-index: -9999;

}
.header{
	width:98%;
	height:300px;
	margin: 0 auto;
	text-align: center;
	background: url(../images/header-bg.jpg) no-repeat center center;
	padding-top: 10px;
}
@media screen and (max-width: 700px) {
	.header{
	background: url(../images/header-bg-sm.jpg) no-repeat center center;
}
}
@media screen and (max-width: 500px) {
	.header{
	background: none;
}
}
.header img{
	display: inline-block;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	position: relative;
	top:20px;

}
.title h1{
	position: relative;
}
@media screen and (min-width: 1200px) {
	.title h1::before, .title h1::after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 90px;
	background:#69c3b5;
	position: absolute;

	}
	.title h1::before{
		left:300px;
	}
	.title h1::after{
		right:300px;
	}
}

.nav{
	width: 98%;
	margin: 30px auto 0;
}
.nav a div:hover{
	opacity: 0.8;
}
.nav a{
	display: block;
	height: 100px;
	margin-bottom: 20px;
}
.nav a div{
	height: 100px;
	margin-bottom: 20px;	
	background-size: cover;
}
.nav-blog{
	background:url(../images/nav-blog.jpg) no-repeat center center;
}
.nav-jianshu{
	background:url(../images/nav-jianshu.jpg) no-repeat center center;
}
.nav-weibo{
	background:url(../images/nav-weibo.jpg) no-repeat center center;
}
.nav-photograph{
	background:url(../images/nav-photograph.jpg) no-repeat center center;
}